@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <!-- Views/Donation/Donate.cshtml -->
    <form method="post" asp-action="Donate">
        <input type="text" name="ResourceType" placeholder="Type of Resource" />
        <input type="number" name="Quantity" placeholder="Quantity" />
        <button type="submit">Donate</button>
    </form>

}
